# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=


# NextAuth Documentation: https://next-auth.js.org/providers/github
# GitHub Configuration Documentation: https://docs.github.com/ja/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps
# GitHub  https://github.com/settings/apps
GITHUB_ID=
GITHUB_SECRET=


NEXTAUTH_URL=

# NEXTAUTH_SECRET Generate is $ openssl rand -base64 32
NEXTAUTH_SECRET=


